*.gem
*.rbc
.bundle
.config
.approvals
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
reports
/.idea

# YARD artifacts
.yardoc
_yardoc
.bin

# Editor files
*.sublime*
log
spec/examples.txt
